:root {
    /* -- Colors -- */
    --neon-cyan: #fd438b; /*#00b0f4*/
    --neon-cyan-invis: #fd438b11;
    --neon-cyan-damn-near-black: #e300fd;
    --neon-cyan-damn-near-black-invis: #e300fd12;

    --bg-cyan: #8eddb6; /*#36393f*/
    --bg-cyan-ultra-lucent: #8eddb6bf;
    --bg-cyan-dark: #2d800a; /*#2f3136*/
    --bg-cyan-dark-lucent: #2d800a99;
    --bg-cyan-semi-dark: #88ffbe;
    --bg-cyan-ultra-dark: #88ffbe; /*#2e3338*/
    --bg-cyan-damn-near-black: #4bd9ba;
    --bg-cyan-bright: #0741e4; /*#40444b*/
    --bg-cyan-halved: #2ca70d; /*#292b2f*/
    --bg-cyan-halved-halved: #2ba7b0;

    --turquoise-bright: #826c5b;
    --turquoise-bright-invis-slight: #826c5b26;
    --turquoise-bright-invis: #826c5b2a;
    --turquoise-bright-semi: #826c5b4d;
    --turquoise-invis: #34b7bd1a;
    --turquoise-semidark: #686e36;
    --turquoise-semidark-invis: #686e361a;
    --turquoise-dark: #ab55f3;
    --turquoise-dark-invis: #ab55f31a;
    --turquoise-very-dark: #257e9f;
    --turquoise-ultra-dark: #5648e1;
    --turquoise-ultra-dark-semi: #5648e14d;
    --turquoise-ultra-dark-lucent: #5648e199;
    --turquoise-hella-dark: #a65a92;
    --turquoise-mega-dark: #d67870;
    --turquoise-mega-dark-semi: #d678704c;

    --bg-dark: #ca3901; /*#202225*/
    --bg-dark-invis: #ca390134;
    --bg-dark-semi: #ca39014d;
    --bg-dark-kinda: #ca390188;
    --bg-dark-lucent: #ca390199;

    --button-normal: #eed4df; /*#4f545c*/
    --button-normal-invis: #eed4df4d;
    --button-clicky: #e4db8e; /*#72767d*/
    --button-select: #9ba3ca;
    --button-hover: #e0ff00;
    --button-hover-bright: #33c4b3;
    --button-bright: #b12048;

    --mod-hover: #b38d2f29; /*#4f545c29*/
    --mod-active: #b38d2f3d; /*#4f545c3d*/
    --mod-selected: #b38d2f52; /*#4f545c52*/

    /* -- Static -- */

    --neon-yellow: #865bee;
    --neon-yellow-invis: #865bee10;
    --neon-yellow-ultra-invis: #865bee08;

    --black: #f0e9f9;
    --black-invis: #f0e9f9;

    --invis: #0000;

    --white: #2be1b5;
    --white-invis: #2be1b522;
    --white-semi: #2be1b54d;
    --white-trans: #2be1b50f;

    --practically-white: #40daef;
    --some-grey: #97b103;

    --nitro-level-one: #dcbe06;
    --nitro-level-two: #1bcd73;
    --nitro-level-three: #7878d0;
    --nitro-dark: #db943c;
    --nitro-bright: #beaa52;

    --standard: #65125b;
    --other-standard: #b7d339;
    --standard-half: #561637;
    --std-red: #0664d6;
    --std-red-bright: #6e6741;

    --color-streaming: #f19803;

    /* -- Swap -- */

    --swap-green-to-blue: ;
    --hue-green-to-blue: ;
    --swap-blurple-to-blue: ;
}