:root {
    /* -- Colors -- */
    --neon-cyan: #8800ff; /*#00b0f4*/
    --neon-cyan-invis: #8800ff11;
    --neon-cyan-damn-near-black: #040305;
    --neon-cyan-damn-near-black-invis: #04030512;

    --bg-cyan: #151122; /*#36393f*/
    --bg-cyan-ultra-lucent: #151122bf;
    --bg-cyan-dark: #100818; /*#2f3136*/
    --bg-cyan-dark-lucent: #10081899;
    --bg-cyan-semi-dark: #15081b;
    --bg-cyan-ultra-dark: #15081b; /*#2e3338*/
    --bg-cyan-damn-near-black: #0a0011;
    --bg-cyan-bright: #252233; /*#40444b*/
    --bg-cyan-halved: #0a0811; /*#292b2f*/
    --bg-cyan-halved-halved: #060408;

    --turquoise-bright: #8844aa;
    --turquoise-bright-invis-slight: #8844aa26;
    --turquoise-bright-invis: #8844aa2a;
    --turquoise-bright-semi: #8844aa4d;
    --turquoise-invis: #6644881a;
    --turquoise-semidark: #474455;
    --turquoise-semidark-invis: #4744551a;
    --turquoise-dark: #663399;
    --turquoise-dark-invis: #6633991a;
    --turquoise-very-dark: #440099;
    --turquoise-ultra-dark: #330088;
    --turquoise-ultra-dark-semi: #3300884d;
    --turquoise-ultra-dark-lucent: #33008899;
    --turquoise-hella-dark: #330077;
    --turquoise-mega-dark: #220044;
    --turquoise-mega-dark-semi: #2200444c;

    --bg-dark: #0a0a0a; /*#202225*/
    --bg-dark-invis: #0a0a0a34;
    --bg-dark-semi: #0a0a0a4d;
    --bg-dark-kinda: #0a0a0a88;
    --bg-dark-lucent: #0a0a0a99;

    --button-normal: #383344; /*#4f545c*/
    --button-normal-invis: #3833444d;
    --button-clicky: #494455; /*#72767d*/
    --button-select: #6b6677;
    --button-hover: #5a5566;
    --button-hover-bright: #8855bb;
    --button-bright: #aa66dd;

    --mod-hover: #38334429; /*#4f545c29*/
    --mod-active: #3833443d; /*#4f545c3d*/
    --mod-selected: #38334452; /*#4f545c52*/

    /* -- Static -- */

    --neon-yellow: #ffff00;
    --neon-yellow-invis: #ffff0010;
    --neon-yellow-ultra-invis: #ffff0008;

    --black: #000000;
    --black-invis: #000000;

    --invis: #0000;

    --white: #ffffff;
    --white-invis: #ffffff22;
    --white-semi: #ffffff4d;
    --white-trans: #ffffff0f;

    --practically-white: #dddddd;
    --some-grey: #bbbbbb;

    --nitro-level-one: #cc40c7;
    --nitro-level-two: #dd51d8;
    --nitro-level-three: #ee62e9;
    --nitro-dark: #6178c9;
    --nitro-bright: #7289da;

    --standard: #dcddde;
    --other-standard: #b9bbbe;
    --standard-half: #8e9297;
    --std-red: #e03636;
    --std-red-bright: #f04747;

    --color-streaming: #6600aa;

    /* -- Swap -- */

    --swap-green-to-blue: saturate(2000) hue-rotate(241deg);
    --hue-green-to-blue: hue-rotate(241deg);
    --swap-blurple-to-blue: hue-rotate(115deg) brightness(0.99) saturate(2%);
};
