:root {
    /* -- Colors -- */
    --neon-cyan: #c42c11; /*#00b0f4*/
    --neon-cyan-invis: #c42c1111;
    --neon-cyan-damn-near-black: #dc2c1c;
    --neon-cyan-damn-near-black-invis: #dc2c1c12;

    --bg-cyan: #2ed6a0; /*#36393f*/
    --bg-cyan-ultra-lucent: #2ed6a0bf;
    --bg-cyan-dark: #a58e32; /*#2f3136*/
    --bg-cyan-dark-lucent: #a58e3299;
    --bg-cyan-semi-dark: #d8446b;
    --bg-cyan-ultra-dark: #d8446b; /*#2e3338*/
    --bg-cyan-damn-near-black: #91ff0c;
    --bg-cyan-bright: #6b503d; /*#40444b*/
    --bg-cyan-halved: #ddc9d9; /*#292b2f*/
    --bg-cyan-halved-halved: #10af0f;

    --turquoise-bright: #8b04a4;
    --turquoise-bright-invis-slight: #8b04a426;
    --turquoise-bright-invis: #8b04a42a;
    --turquoise-bright-semi: #8b04a44d;
    --turquoise-invis: #e2a7b71a;
    --turquoise-semidark: #d79289;
    --turquoise-semidark-invis: #d792891a;
    --turquoise-dark: #415de3;
    --turquoise-dark-invis: #415de31a;
    --turquoise-very-dark: #6fa593;
    --turquoise-ultra-dark: #2bb951;
    --turquoise-ultra-dark-semi: #2bb9514d;
    --turquoise-ultra-dark-lucent: #2bb95199;
    --turquoise-hella-dark: #5a7035;
    --turquoise-mega-dark: #a5f331;
    --turquoise-mega-dark-semi: #a5f3314c;

    --bg-dark: #f072fb; /*#202225*/
    --bg-dark-invis: #f072fb34;
    --bg-dark-semi: #f072fb4d;
    --bg-dark-kinda: #f072fb88;
    --bg-dark-lucent: #f072fb99;

    --button-normal: #e5107f; /*#4f545c*/
    --button-normal-invis: #e5107f4d;
    --button-clicky: #725744; /*#72767d*/
    --button-select: #0469a3;
    --button-hover: #a1b38e;
    --button-hover-bright: #307032;
    --button-bright: #45907c;

    --mod-hover: #4202ef29; /*#4f545c29*/
    --mod-active: #4202ef3d; /*#4f545c3d*/
    --mod-selected: #4202ef52; /*#4f545c52*/

    /* -- Static -- */

    --neon-yellow: #9fc329;
    --neon-yellow-invis: #9fc32910;
    --neon-yellow-ultra-invis: #9fc32908;

    --black: #4d5870;
    --black-invis: #4d5870;

    --invis: #0000;

    --white: #e6cc9a;
    --white-invis: #e6cc9a22;
    --white-semi: #e6cc9a4d;
    --white-trans: #e6cc9a0f;

    --practically-white: #a903db;
    --some-grey: #92d48e;

    --nitro-level-one: #0a6a31;
    --nitro-level-two: #4c7170;
    --nitro-level-three: #65061a;
    --nitro-dark: #cd8b6b;
    --nitro-bright: #3d2061;

    --standard: #ec0458;
    --other-standard: #875ee0;
    --standard-half: #88d026;
    --std-red: #a35db3;
    --std-red-bright: #614115;

    --color-streaming: #6b7449;

    /* -- Swap -- */

    --swap-green-to-blue: ;
    --hue-green-to-blue: ;
    --swap-blurple-to-blue: ;
}