:root {
    /* -- Colors -- */
    --neon-cyan: #ff8800; /*#00b0f4*/
    --neon-cyan-invis: #ff880011;
    --neon-cyan-damn-near-black: #050403;
    --neon-cyan-damn-near-black-invis: #05040312;

    --bg-cyan: #221511; /*#36393f*/
    --bg-cyan-ultra-lucent: #221511bf;
    --bg-cyan-dark: #181008; /*#2f3136*/
    --bg-cyan-dark-lucent: #18100899;
    --bg-cyan-semi-dark: #1b1508;
    --bg-cyan-ultra-dark: #1b1508; /*#2e3338*/
    --bg-cyan-damn-near-black: #110a00;
    --bg-cyan-bright: #332522; /*#40444b*/
    --bg-cyan-halved: #110a08; /*#292b2f*/
    --bg-cyan-halved-halved: #080604;

    --turquoise-bright: #aa8844;
    --turquoise-bright-invis-slight: #aa884426;
    --turquoise-bright-invis: #aa88442a;
    --turquoise-bright-semi: #aa88444d;
    --turquoise-invis: #8866441a;
    --turquoise-semidark: #554744;
    --turquoise-semidark-invis: #5547441a;
    --turquoise-dark: #996633;
    --turquoise-dark-invis: #9966331a;
    --turquoise-very-dark: #994400;
    --turquoise-ultra-dark: #883300;
    --turquoise-ultra-dark-semi: #8833004d;
    --turquoise-ultra-dark-lucent: #88330099;
    --turquoise-hella-dark: #773300;
    --turquoise-mega-dark: #442200;
    --turquoise-mega-dark-semi: #4422004c;

    --bg-dark: #0a0a0a; /*#202225*/
    --bg-dark-invis: #0a0a0a34;
    --bg-dark-semi: #0a0a0a4d;
    --bg-dark-kinda: #0a0a0a88;
    --bg-dark-lucent: #0a0a0a99;

    --button-normal: #443833; /*#4f545c*/
    --button-normal-invis: #4438334d;
    --button-clicky: #554944; /*#72767d*/
    --button-select: #776b66;
    --button-hover: #665a55;
    --button-hover-bright: #bb8855;
    --button-bright: #ddaa66;

    --mod-hover: #44383329; /*#4f545c29*/
    --mod-active: #4438333d; /*#4f545c3d*/
    --mod-selected: #44383352; /*#4f545c52*/

    /* -- Static -- */

    --neon-yellow: #ffff00;
    --neon-yellow-invis: #ffff0010;
    --neon-yellow-ultra-invis: #ffff0008;

    --black: #000000;
    --black-invis: #000000;

    --invis: #0000;

    --white: #ffffff;
    --white-invis: #ffffff22;
    --white-semi: #ffffff4d;
    --white-trans: #ffffff0f;

    --practically-white: #dddddd;
    --some-grey: #bbbbbb;

    --nitro-level-one: #cc40c7;
    --nitro-level-two: #dd51d8;
    --nitro-level-three: #ee62e9;
    --nitro-dark: #6178c9;
    --nitro-bright: #7289da;

    --standard: #dcddde;
    --other-standard: #b9bbbe;
    --standard-half: #8e9297;
    --std-red: #e03636;
    --std-red-bright: #f04747;

    --color-streaming: #6600aa;

    /* -- Swap -- */

    --swap-green-to-blue: hue-rotate(-109deg) saturate(5) brightness(1.5);
    --hue-green-to-blue: hue-rotate(-109deg);
    --swap-blurple-to-blue: hue-rotate(170deg) saturate(3);
};
