:root {
    /* -- Colors -- */
    --neon-cyan: #99beec; /*#00b0f4*/
    --neon-cyan-invis: #99beec11;
    --neon-cyan-damn-near-black: #01f1e4;
    --neon-cyan-damn-near-black-invis: #01f1e412;

    --bg-cyan: #09f60a; /*#36393f*/
    --bg-cyan-ultra-lucent: #09f60abf;
    --bg-cyan-dark: #1276cb; /*#2f3136*/
    --bg-cyan-dark-lucent: #1276cb99;
    --bg-cyan-semi-dark: #5c9e35;
    --bg-cyan-ultra-dark: #5c9e35; /*#2e3338*/
    --bg-cyan-damn-near-black: #2c2646;
    --bg-cyan-bright: #8e6e27; /*#40444b*/
    --bg-cyan-halved: #e7ba9b; /*#292b2f*/
    --bg-cyan-halved-halved: #564252;

    --turquoise-bright: #56381f;
    --turquoise-bright-invis-slight: #56381f26;
    --turquoise-bright-invis: #56381f2a;
    --turquoise-bright-semi: #56381f4d;
    --turquoise-invis: #ff99851a;
    --turquoise-semidark: #f56d2e;
    --turquoise-semidark-invis: #f56d2e1a;
    --turquoise-dark: #b92817;
    --turquoise-dark-invis: #b928171a;
    --turquoise-very-dark: #7e8c52;
    --turquoise-ultra-dark: #104cfd;
    --turquoise-ultra-dark-semi: #104cfd4d;
    --turquoise-ultra-dark-lucent: #104cfd99;
    --turquoise-hella-dark: #c5a01e;
    --turquoise-mega-dark: #a4bafa;
    --turquoise-mega-dark-semi: #a4bafa4c;

    --bg-dark: #cb6a96; /*#202225*/
    --bg-dark-invis: #cb6a9634;
    --bg-dark-semi: #cb6a964d;
    --bg-dark-kinda: #cb6a9688;
    --bg-dark-lucent: #cb6a9699;

    --button-normal: #2749ab; /*#4f545c*/
    --button-normal-invis: #2749ab4d;
    --button-clicky: #fd90fe; /*#72767d*/
    --button-select: #93678a;
    --button-hover: #1526bc;
    --button-hover-bright: #f45d1f;
    --button-bright: #e912a7;

    --mod-hover: #e84a9129; /*#4f545c29*/
    --mod-active: #e84a913d; /*#4f545c3d*/
    --mod-selected: #e84a9152; /*#4f545c52*/

    /* -- Static -- */

    --neon-yellow: #9f3fe8;
    --neon-yellow-invis: #9f3fe810;
    --neon-yellow-ultra-invis: #9f3fe808;

    --black: #f27e5f;
    --black-invis: #f27e5f;

    --invis: #0000;

    --white: #6fcc68;
    --white-invis: #6fcc6822;
    --white-semi: #6fcc684d;
    --white-trans: #6fcc680f;

    --practically-white: #20ccf3;
    --some-grey: #901dba;

    --nitro-level-one: #ad43bf;
    --nitro-level-two: #a0f7b9;
    --nitro-level-three: #8adc33;
    --nitro-dark: #d2cbf6;
    --nitro-bright: #52f5d4;

    --standard: #fefb8c;
    --other-standard: #b69aa2;
    --standard-half: #aabd46;
    --std-red: #bc762d;
    --std-red-bright: #360257;

    --color-streaming: #d35723;

    /* -- Swap -- */

    --swap-green-to-blue: ;
    --hue-green-to-blue: ;
    --swap-blurple-to-blue: ;
}