:root {
    /* -- Colors -- */
    --neon-cyan: #0000ff; /*#00b0f4*/
    --neon-cyan-invis: #0000ff11;
    --neon-cyan-damn-near-black: #030305;
    --neon-cyan-damn-near-black-invis: #03030512;

    --bg-cyan: #111122; /*#36393f*/
    --bg-cyan-ultra-lucent: #111122bf;
    --bg-cyan-dark: #080818; /*#2f3136*/
    --bg-cyan-dark-lucent: #08081899;
    --bg-cyan-semi-dark: #08081b;
    --bg-cyan-ultra-dark: #08081b; /*#2e3338*/
    --bg-cyan-damn-near-black: #000011;
    --bg-cyan-bright: #222233; /*#40444b*/
    --bg-cyan-halved: #080811; /*#292b2f*/
    --bg-cyan-halved-halved: #040408;

    --turquoise-bright: #4444aa;
    --turquoise-bright-invis-slight: #4444aa26;
    --turquoise-bright-invis: #4444aa2a;
    --turquoise-bright-semi: #4444aa4d;
    --turquoise-invis: #4444881a;
    --turquoise-semidark: #444455;
    --turquoise-semidark-invis: #4444551a;
    --turquoise-dark: #333399;
    --turquoise-dark-invis: #3333991a;
    --turquoise-very-dark: #000099;
    --turquoise-ultra-dark: #000088;
    --turquoise-ultra-dark-semi: #0000884d;
    --turquoise-ultra-dark-lucent: #00008899;
    --turquoise-hella-dark: #000077;
    --turquoise-mega-dark: #000044;
    --turquoise-mega-dark-semi: #0000444c;

    --bg-dark: #0a0a0a; /*#202225*/
    --bg-dark-invis: #0a0a0a34;
    --bg-dark-semi: #0a0a0a4d;
    --bg-dark-kinda: #0a0a0a88;
    --bg-dark-lucent: #0a0a0a99;

    --button-normal: #333344; /*#4f545c*/
    --button-normal-invis: #3333444d;
    --button-clicky: #444455; /*#72767d*/
    --button-select: #666677;
    --button-hover: #555566;
    --button-hover-bright: #5555bb;
    --button-bright: #6666dd;

    --mod-hover: #33334429; /*#4f545c29*/
    --mod-active: #3333443d; /*#4f545c3d*/
    --mod-selected: #33334452; /*#4f545c52*/

    /* -- Static -- */

    --neon-yellow: #ffff00;
    --neon-yellow-invis: #ffff0010;
    --neon-yellow-ultra-invis: #ffff0008;

    --black: #000000;
    --black-invis: #000000;

    --invis: #0000;

    --white: #ffffff;
    --white-invis: #ffffff22;
    --white-semi: #ffffff4d;
    --white-trans: #ffffff0f;

    --practically-white: #dddddd;
    --some-grey: #bbbbbb;

    --nitro-level-one: #cc40c7;
    --nitro-level-two: #dd51d8;
    --nitro-level-three: #ee62e9;
    --nitro-dark: #6178c9;
    --nitro-bright: #7289da;

    --standard: #dcddde;
    --other-standard: #b9bbbe;
    --standard-half: #8e9297;
    --std-red: #e03636;
    --std-red-bright: #f04747;

    --color-streaming: #6600aa;

    /* -- Swap -- */

    --swap-green-to-blue: hue-rotate(96deg) saturate(200);
    --hue-green-to-blue: hue-rotate(100deg);
    --swap-blurple-to-blue: hue-rotate(30deg) saturate(200);
};
