:root {
    /* -- Colors -- */
    --neon-cyan: #702fe7; /*#00b0f4*/
    --neon-cyan-invis: #702fe711;
    --neon-cyan-damn-near-black: #484998;
    --neon-cyan-damn-near-black-invis: #48499812;

    --bg-cyan: #f314d9; /*#36393f*/
    --bg-cyan-ultra-lucent: #f314d9bf;
    --bg-cyan-dark: #4c2b78; /*#2f3136*/
    --bg-cyan-dark-lucent: #4c2b7899;
    --bg-cyan-semi-dark: #65d8a1;
    --bg-cyan-ultra-dark: #65d8a1; /*#2e3338*/
    --bg-cyan-damn-near-black: #aeccdb;
    --bg-cyan-bright: #aba299; /*#40444b*/
    --bg-cyan-halved: #d3f8d2; /*#292b2f*/
    --bg-cyan-halved-halved: #58041c;

    --turquoise-bright: #a803f0;
    --turquoise-bright-invis-slight: #a803f026;
    --turquoise-bright-invis: #a803f02a;
    --turquoise-bright-semi: #a803f04d;
    --turquoise-invis: #e191e31a;
    --turquoise-semidark: #0a7212;
    --turquoise-semidark-invis: #0a72121a;
    --turquoise-dark: #bcaba6;
    --turquoise-dark-invis: #bcaba61a;
    --turquoise-very-dark: #e5d9c1;
    --turquoise-ultra-dark: #6ad7ec;
    --turquoise-ultra-dark-semi: #6ad7ec4d;
    --turquoise-ultra-dark-lucent: #6ad7ec99;
    --turquoise-hella-dark: #abbfaa;
    --turquoise-mega-dark: #bda301;
    --turquoise-mega-dark-semi: #bda3014c;

    --bg-dark: #2c6aa7; /*#202225*/
    --bg-dark-invis: #2c6aa734;
    --bg-dark-semi: #2c6aa74d;
    --bg-dark-kinda: #2c6aa788;
    --bg-dark-lucent: #2c6aa799;

    --button-normal: #76b227; /*#4f545c*/
    --button-normal-invis: #76b2274d;
    --button-clicky: #418310; /*#72767d*/
    --button-select: #121bc2;
    --button-hover: #b1cb23;
    --button-hover-bright: #e9cfb3;
    --button-bright: #ec88f7;

    --mod-hover: #cd6e3b29; /*#4f545c29*/
    --mod-active: #cd6e3b3d; /*#4f545c3d*/
    --mod-selected: #cd6e3b52; /*#4f545c52*/

    /* -- Static -- */

    --neon-yellow: #ad0091;
    --neon-yellow-invis: #ad009110;
    --neon-yellow-ultra-invis: #ad009108;

    --black: #f592b7;
    --black-invis: #f592b7;

    --invis: #0000;

    --white: #64a92e;
    --white-invis: #64a92e22;
    --white-semi: #64a92e4d;
    --white-trans: #64a92e0f;

    --practically-white: #a11173;
    --some-grey: #b4def2;

    --nitro-level-one: #2ffd06;
    --nitro-level-two: #e6be29;
    --nitro-level-three: #0bde2b;
    --nitro-dark: #fc18ea;
    --nitro-bright: #b342ce;

    --standard: #b5188f;
    --other-standard: #879077;
    --standard-half: #30f82d;
    --std-red: #34bec6;
    --std-red-bright: #9cf9e7;

    --color-streaming: #04e511;

    /* -- Swap -- */

    --swap-green-to-blue: ;
    --hue-green-to-blue: ;
    --swap-blurple-to-blue: ;
}